[project]
	description = Demo project for test automation using REST-Assured
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Devops-POC
[access "refs/for/refs/*"]
	read = group user/Devops-POC
	push = group user/Devops-POC
	label-Code-Review = -2..+2 group user/Devops-POC
	label-Verified = -1..+1 group user/Devops-POC
	rebase = group user/Devops-POC
	removeReviewer = group user/Devops-POC
	submit = group user/Devops-POC
[access "refs/heads/*"]
	read = group user/Devops-POC
	create = group user/Devops-POC
	push = +force group user/Devops-POC
	pushMerge = group user/Devops-POC
[access "refs/tags/*"]
	push = group user/Devops-POC
	push = +force group user/Devops-POC
